@import '../../../styles/variables'

.btnWrapper
    margin-bottom: 20px
.text
    color: $main-grey
    font-size: 20px
    margin-bottom: 20px
    &:first-letter
        text-transform: uppercase
    span
        color: $main-black
        font-weight: 500
        display: inline-block
        &:first-letter
            text-transform: uppercase
